.main{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
	top: 0;
	left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menu {
    height: auto;
    width: 100%;
    background-color: #0000ff;
    position: static;
    /* top: 0;
    left: 0; */
}

.menu img{
    width: 10%;
    height: auto;
    margin-bottom: 0;
    display: block;
}

.presentPicture {
    height: auto;
    width: 100%;
    background-color: #ffff00;
    position: static;
    top: 0;
    left: 0;
}

.presentPicture img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: 0;
    margin-right: auto;

}



.recipesList {
    height: 80%;
    width: 100%;
    background-color: #f00fff;
    position:static;
    top: 0;
    left: 0;
}

.contacts {
    height: 10%;
    width: 100%;
    background-color: #000000;
    position:static;
    top: 0;
    left: 0;
}
